<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.digital_vehicle_maintenance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrderDetailActivity"></activity>
        <activity android:name=".YourOrdersActivity" />
        <activity android:name=".AddDetailsActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".PartBookingActivity" />
        <activity android:name=".PartDetailActivity" />
        <activity android:name=".CarBookingActivity" />
        <activity android:name=".GiveCarActivity" />
        <activity android:name=".ServiceBookingActivity" />
        <activity android:name=".ServiceDetailActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>